{% extends 'layout.html' %}
{% block head %}
<title>Country</title>
{% endblock %}

{% block body %}

<div class="container">

    <!-- Alert Section for invalid country name -->
    <div class="d-flex justify-content-center">
        <div class="alert alert-info" style="display:none">
            <strong>Info!</strong> Invaid Country Name
        </div>
    </div>
    <!-- End Alert Section -->

    <!-- Search Section for country capital by country name -->
    <div class="d-flex justify-content-center">
        <form class="form-inline">
            <label for="country" class="mr-sm-2">Country Name: </label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="country" id="country">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
    <!-- End Search Section -->

    <!-- Capital List Section of search country | all country  -->
    <div class="d-flex justify-content-center">
        <table class="table col-sm-6">
            <thead class="thead-light">
                <tr>
                    <th>Country</th>
                    <th>Capital</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% for country in countryList %}
                <tr>
                    <td>{{ country.Country }}</td>
                    <td>{{ country.Capital }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- End Capital List Section -->

</div>

{% endblock %}